.backButton {
    cursor: pointer;
    width: 140px;
    text-align: center;
    font-weight: bold;
    padding: 8px 15px;
    margin-bottom: 15px;
    box-shadow: 1px 2px 2px 0 rgb(0, 0, 0/0.5);
    transition: box-shadow 250ms linear;
    border-radius: 10px;
    border: 1px solid #2196f3;
}

.backButton:hover {
    background-color: #2196f3;
    color: #303030;
}

.reviews {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid #2196f3;
    margin-right: 30px;
    font-weight: bold;
    color: #303030;
}

.cast {
    display: inline-block;
    padding: 8px 28px;
    border-radius: 10px;
    border: 1px solid #2196f3;
    font-weight: bold;
    color: #303030;
}

.reviews:hover,
.cast:hover {
    background-color: #2196f3;
    color: #303030;
}