.link {
    font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.05em;
        color: #303030;
        margin-bottom: 20px;
            
                

}

nav {
    display: flex;
    gap: 20px
    ;
}

